body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #3c3e5d;
}

.container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 50px;
    background-color: #bba1b2;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #f7f4f4;
    background-color: #bd00ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

h2 {
    color: #333;
    font-size: 20px;
    margin-top: 20px;
}
